@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  font-size: 95%;
  color: #003e67;
  line-height: 1.4;
}

.container {
  max-width: 1100px;
  margin: 10px auto;
}

.primary__color--background {
  padding: 1rem;
  background-color: #e3f3fb;
}

.title {
  color: #fff;
  background-color: #003e67;
  padding: 0.4rem;
  width: 100%;
  margin-top: -9px;
  text-transform: uppercase;
}

.sub--title {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.font--small {
  font-size: 13px;
}

.footer {
  color: #fff;
  background-color: #003e67;
  padding: 0.4rem;
  width: 100%;
  margin-top: -9px;
}

.flex {
  display: flex;
}

.flex--between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--center {
  display: flex;
  align-items: center;
}

.flex--around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex--evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input--box {
  height: 30px;
  width: 30px;
  border: 2px solid #003e67;
  padding: 0.2rem 0.4rem;
}

.box {
  display: block;
  height: 30px;
  width: 30px;
  border: 2px solid #003e67;
  border-left: none;
  background: #fff;
}

.box:first-child {
  border: 2px solid #003e67;
}

input {
  display: block;
  outline: none;
  border: none;
  border: 2px solid #003e67;
  height: 30px;
  width: 100%;
  border: 2px solid #003e67;
  padding: 0.2rem 0.6rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.8rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-2 {
  margin-right: 0.8rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.wd-1 {
  width: 100px;
}

.wd-3 {
  width: 90px;
  text-align: right;
  margin-left: -0.4rem;
}

.wd-2 {
  width: 140px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.spacer {
  width: 150px;
}

.pd {
  padding: 10rem;
}

.photograph__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 230px;
  background: #e0f2fe;
}

.account__section .input__container {
  display: flex;
  align-items: center;
}

.wd-5 {
  width: 100%;
}

.header {
  flex: 1 1 auto;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.header:last-child {
  margin-bottom: 0;
}

.labelbox {
  flex: 0 0 15%;
  margin-top: 0.5rem;
}

.valuebox {
  flex: 0 0 85%;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #003e67;
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 30px;
  width: 30px;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #003e67;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fff;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 2px solid #003e67;
  background-color: #003e67;
}

.checkbox > input:checked + span::before,
.checkbox > input:checked + span::after {
  content: '\2713';
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0.7rem;
  top: 0.6rem;
}

.checkbox > input:active {
  border: 2px solid #003e67;
}
/*# sourceMappingURL=app.css.map */