// Colors
$blue100: #e3f3fb;
$blue300: #6594b7;
$blue400: #003e67;
$textColorWhite: #fff;
$backgroundColor: #e0f2fe;

// Units
$maxWidth: 1100px;
$bodyPadding: 1rem;
$borderColor: 2px solid $blue400;
