// Container
.container {
  width: 100vw;
  max-width: 1150px;
  margin: 10px auto;
}

// Button
button {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  color: $textColorWhite;
  background-color: $blue300;
  padding: 6px 12px;
  cursor: pointer;
  font-family: inherit;
}

// Margin

.mt-1 {
  margin-top: 1rem;

  span {
    margin-left: 0.4rem;
  }
}

// Input
input {
  width: 100%;
  height: 30px;
  display: block;
  border: none;
  outline: none;
  border: 2px solid $blue300;
  box-sizing: border-box;
}

.input--box {
  width: 100%;
  max-width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border: 2px solid $blue300;
}

// Flex

.flex--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex--column {
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    margin-top: 0.6rem;
    border: 2px solid $blue300;
  }
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex--between {
}

.flex--center {
  @include flex;
}

.flex {
  @include flex;
}

.flex--between {
  @include flex;
  justify-content: space-between;
}

.flex--column {
  @include flex;
  flex-direction: column;
}

.flex--colum-no-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    margin-top: 1rem;
  }
}

.flex--evenly {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-gap: 10px;
}

.flex--around {
  @include flex;
  justify-content: space-around;
}

// Grid
.grid--inner {
  display: grid;
  grid-template-columns: 1fr;
}

// Utils

.gap {
  margin-left: 1rem;
}

// Padding
.pd-1 {
  padding-left: 10px;
}
.pd-2 {
  padding-left: 1rem;
}

.pd {
  padding-bottom: 0.8rem;
}

// Margin
.mr-1 {
  margin-right: 0.8rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-top: -0.4rem;
}

.ml-1 {
  margin-left: 0.8rem;
}

.mt-2 {
  margin-top: 1.2rem;
}

.input--label {
  width: 10rem;
}

// Width

.w100 {
  width: 100%;
}

.w40 {
  width: 40%;
}

.bg--primary {
  background-color: $blue200a;
  padding: 0.5rem;
}

.right-2 {
  margin-top: -4rem;
}

.right-1 {
  margin-top: -1rem;
}

.right-3 {
  margin-top: -1.8rem;
}

.spacer {
  padding: 0.5rem;
}
