@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

// imports
@import 'colors';
@import 'utilities';
@import 'second__applicant';
@import 'bank__details';

// HTML Reset
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $blue300;
  font-size: 100%;
}

// ======================  Section One  ======================= //
.photograph {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  width: 230px;
  background: $blue200a;
}

.account__section {
  padding: 0.4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.account__information {
  display: flex;

  input {
    width: 100%;
    max-width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border: 2px solid $blue300;
  }
}

// ======================  Category  ======================= //
.title {
  color: $textColorWhite;
  background-color: $blue300;
  padding: 0.4rem;
  width: 100%;
  margin-top: -9px;
}

.label {
  text-transform: uppercase;
  color: $blue300;
}

.title--label {
  text-transform: uppercase;
}

.category__container {
  background: $blue200a;
}

.category {
  padding: 0.5rem;

  .category__group {
    display: flex;
    flex-direction: column;

    &--item {
      display: flex;
      align-items: center;
      margin-top: 8px;

      span,
      .label {
        margin-left: 5px;
      }
      input {
        width: 30px;
        height: 30px;
        border: 2px solid $blue300;
      }
    }
  }
}

// ======================  Investments  ======================= //

.client {
  background-color: $blue200a;
  padding: 0.5rem;

  &__lists {
    .client__item {
      margin-top: 0.8rem;
    }
  }

  .client__right {
    width: 100%;

    .client__inner--container {
      display: flex;
    }

    .client__scale {
      @include flex;

      .client__checkbox {
        @include flex;
        margin-top: 0.5rem;

        label {
          margin-left: 0.35rem;
          margin-right: 0.35rem;
        }
      }
    }

    .client--wrapper {
      display: flex;

      .client__checkbox--label {
        @include flex;

        label {
          margin-right: 1rem;
        }
      }
    }

    .client__inner--container {
      @include flex;
    }
  }
}

// ======================  First Applicant  ======================= //

.applicant--wrapper {
  background-color: $blue200a;
  padding: 0.5rem;
}
.first__applicant {
  @include flex;

  &--inner {
    display: flex;
    flex-direction: column;

    span {
      margin-top: 1.6rem;
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}

.first__applicant--right {
  @include flex;

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      margin: 1rem;
      color: $blue300;
    }
  }

  .tin {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tin__wrapper {
    @include flex;
  }
}

// ======================  Date of Birth  ======================= //
.dob {
  display: flex;
}

.dob--container {
  @include flex;

  .maiden__name {
    width: 100%;
    @include flex;
  }
}

.surname {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div input {
    flex: 0.5;
  }

  .flex--container {
    // flex-grow: 2;
    flex: 0.5;
  }
}

.marriage__status {
  display: flex;

  .status {
    display: flex;
    align-items: center;
  }
}

.gender__checkbox {
  display: flex;
  align-items: center;
}
.gender {
  display: flex;
}

.gender__spouse {
  //   width: 100%;
  flex-grow: 0.9;
  @include flex;
}

.gender__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spouse {
  overflow-wrap: break-word;
}

// Residential Status
.residential__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .residential__status {
    @include flex;

    label {
      padding: 1rem;
    }
  }
}

.country__origin {
  @include flex;

  input {
    width: 50%;
  }

  .residence {
    @include flex;
    width: 50%;
  }
}

// ======================  First Application: Subsection  ======================= //
.note {
  color: $blue300;
}
.box1 {
  @include flex;
  // flex: 2;
}

// ======================  First Application: Subsection  ======================= //
.occupation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  margin-top: 20px;

  .grid--inner {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 20px;
  }
}

.nearest__landmark {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 20px;

  &--label {
    @include flex;
  }
}

.digital__address {
  display: grid;
  grid-template-columns: 1fr 3fr;

  label {
    overflow-wrap: break-word;
  }
}

.city--right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile__money--container {
  display: flex;
}

.id {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  label {
    width: 100px;
  }
}
